<div class="col-md-4">
  <div class="list-group">
    <div li class="list-group-item">
      <form {{action "createBand" on="submit"}}>
        {{input type="text" class="new-project" placeholder="New project" value=title}}
        <button class="btn btn-primary btn-sm new-project-button"
          disabled={{isAddButtonDisabled}}
          {{action "createProject"}}>Add</button>
      </form>
    </div>
    {{#each model as |project|}}
      {{#link-to 'projects.project' project class="list-group-item project-link"}}
        {{project.title}}
        <span class="pointer glyphicon glyphicon-chevron-right"></span>
      {{/link-to}}
    {{else}}
      <div li class="list-group-item">
        Sorry, nobody is here.
      </div>
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>
